* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  border: 4px solid rgb(114, 68, 68) ;
  border-radius: 20px;
  background-color: rgb(234, 228, 240);
  padding: 20px;
  text-align: center;
}
.top li {
  /* border: 2px solid blue; */
  display: inline;
  padding: 15px;
}

.top li a:link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.top li a:visited {
  color: rgb(114, 68, 68);
}

.top li a:active {
  box-shadow: 5px 5px 15px rgb(189, 186, 186);
}

.top li a:hover {
  background-color: rgba(66, 66, 43, 0.582);
  color: antiquewhite;
}
/*  */

.together {
  display: flex;
  background-color: rgb(187, 181, 181);
}

.liana {
 width: 40%;
}

.text {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.text p,
.text h2 {
  width: 60%;
}

footer {
  text-align: center;
  border: 2px solid rgb(114, 68, 68);
  border-radius: 10px;
  background-color: rgb(234, 228, 240);
}

footer a {
  text-decoration: none;
  padding: 5px;
  padding: 10px;
}

ion-icon {
  font-size: 33px;
  color: rgb(114, 68, 68);
  margin-top: 29px;
}

